{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css_files/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
<div style="text-align: center; font-size: 60px;" >
    <h>TURN ON AND TURN OFF LED USING DJANGO </h>
</div>



<div style="text-align:center; margin-top: 350px;">
    <a href="/turn_on" class="fcc-btn"> TURN ON</a>&nbsp&nbsp&nbsp&nbsp

    <a href="/turn_off" class="fcc-btn2"> TURN OFF</a>

 </div>


    
</body>
</html>